<!DOCTYPE html>
{% load static %}
<html lang="ru">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="{% static 'style.css' %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ГЛАВНАЯ СТРАНИЦА</title>
    </head>

    <body>
        <div>
            <p class="text-format" align="middle">УЧЕТ ПЕРСОНАЛЬНЫХ КОМПЬЮТЕРОВ</p>
            <hr>
            <p class="text-format" align="middle">ГЛАВНОЕ МЕНЮ </p>

            <div class="container">
                <a href="{% url 'add' %}" class="floating-vertically-button">Добавление</a>
            </div>

            <div class="container">
                <a href="{% url 'edit' %}" class="floating-vertically-button">Редактирование</a>
            </div>

            <div class="container">
                <a href="{% url 'report' %}" class="floating-vertically-button">Отчет</a>
            </div>
        </div>

    </body>

</html>